<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @rider.email %>
</p>

<p>
  <strong>Time:</strong>
  <%= @rider.time %>
</p>

<p>
  <strong>Sourcelat:</strong>
  <%= @rider.sourcelat %>
</p>

<p>
  <strong>Sourcelong:</strong>
  <%= @rider.sourcelong %>
</p>

<p>
  <strong>Deslat:</strong>
  <%= @rider.deslat %>
</p>

<p>
  <strong>Deslong:</strong>
  <%= @rider.deslong %>
</p>

<%= link_to 'Edit', edit_rider_path(@rider) %> |
<%= link_to 'Back', riders_path %>
