<p id="notice"><%= notice %></p>

<p>

  <strong>Driverid:</strong>
  <%= @driver.driverid %>
</p>

  <strong>Email:</strong>
  <%= @driver.email %>
</p>

<p>
  <strong>Time:</strong>
  <%= @driver.time %>
</p>

<p>
  <strong>Sourcelat:</strong>
  <%= @driver.sourcelat %>
</p>

<p>
  <strong>Sourcelong:</strong>
  <%= @driver.sourcelong %>
</p>

<p>
  <strong>Deslat:</strong>
  <%= @driver.deslat %>
</p>

<p>
  <strong>Deslong:</strong>
  <%= @driver.deslong %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
